/* Hero Image */
.hsr-hero-image{
	background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/9db4a880-3034-4e98-bdea-5d983e86bf52/b5953637-091d-4e02-9754-2bfadc8a8f7c/IN-en-20230925-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.hsr-overlay{
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
}

.hsr-navbar{
	padding: 1rem;
}